* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
  margin: 0;
  color: white;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  animation: diffuse 10s infinite;
}

body::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    var(--angle),
    rgba(169, 2, 169),
    rgba(42, 42, 246)
  );
  animation: diffuse 5s ease infinite;
  z-index: -1;
  filter: blur(0.2rem);
  opacity: 0.7;
}

@property --angle {
  initial-value: 0deg;
  inherits: false;
  syntax: "<angle>";
}

@keyframes diffuse {
  0% {
    --angle: 0deg;
  }

  10% {
    --angle: 180deg;
  }

  -10% {
    --angle: 180deg;
  }

  360% {
    --angle: 0deg;
  }
}

.RandomBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  line-height: 70px;
  box-shadow: 0 -5px 10px rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    var(--angle),
    rgb(239, 111, 239, 0.2),
    rgb(130, 130, 255, 0.2)
  );
  backdrop-filter: blur(5rem);
  padding: 10px;
  /* border-radius: 10px; */
  text-align: center;
  animation: enter 1s linear;
}

@keyframes enter {
  from {
    transform: translate(-50%, 50%);
    opacity: 0.3;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

p {
  line-height: normal;
  font-size: large;
}
footer {
  font-size: smaller;
}
button {
  width: fit-content;
  padding: 10px;
  font-size: larger;
  background: none;
  border: none;
}
.heart {
}
.chest:hover .Status {
  display: contents;
}
.Status {
  display: none;
}
.Status:disabled {
  color: green;
}
